記事一覧

<% @articles.each do |article| %>
<table>
  <tr>
    <td>タイトル</td>
    <td>
      <%= link_to article_path(article.id) do %>
        <%= article.title %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>内容</td>
    <td><%= article.body %></td>
  </tr>
  <tr>
    <td>タグ</td>
    <td>
      <% article.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= render "public/likes/btn", article: article %>
    </td>
  </tr>
  <tr>
    <td class="comments-counter">
      <%= render "public/comments/counter", article: @article %>
    </td>
  </tr>
</table>

<% end %>

<% @tag_list.each do |list|%>
  <%=list.name %>
  <%="(#{list.articles.count})" %>
<% end %>



<!--投稿一覧画面で投稿に紐づくタグを表示-->
<!--<% @articles.each do |article| %>-->
  <!--<i class="fas fa-tag"><%= article.tags.map(&:name).join(', ') %></i>-->
<!--<% end %>-->
