<% visiter = notification.visiter %>
<% visited = notification.visited %>
<div class="user-view clearfix">
  <%= link_to user_path(visiter) do %>
    <%= image_tag notification.visiter.image, class: "icon_mini" %>
  <% end %>
  <%= notification_form(notification) %>
  <span class="moderate-font">
    <%= " (#{time_ago_in_words(notification.created_at)}å‰)" %>
  </span>
  <% if !@comment.nil? %>
    <p class="moderate-font"><%= @comment %></p>
  <% end %>
</div>
    
   s


    