<% visitor = notification.visitor %>
<% visited = notification.visited %>
<span>
      <%= link_to user_path(visitor) do %>
      <%= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
      <strong>
          <%= visitor.screen_name %>
      <%= 'さんが' %>
      </strong>
</span>

      <% case notification.action %>
      <% when 'follow' then %>
      <%= "あなたをフォローしました" %>
      <% when 'like' then %>
        <%= link_to 'あなたの投稿', notification.article, style: "font-weight: bold;" %>
        <%= "にいいねしました" %>
      <% when 'comment' then %>
        <% if notification.article.user_id == visited.id %>
          <%= link_to "あなたの投稿", notification.article, style: "font-weight: bold;" %>
        <% else %>
          <span>
            <%= link_to article_path(notification.article) do %>
              <%= image_tag avatar_url(notification.article.user).to_s, class: "icon_mini" %>
              <strong>
                <%= notification.article.user.screen_name + 'さんの投稿' %>
        <%= "にコメントしました" %>
        </strong>
          <%= Comment.find_by(id: notification.comment_id)&.comment %>
          </span>

    <%= time_ago_in_words(notification.created_at).upcase %>
    
    