<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="mx-3"><h3 class="mb-5 mini-title">マイページ</h3></div>
    <div class="col-10 col-md-10 col-sm-10 mx-2 mx-sm-auto px-0 my-5">
  
        <table class="table my_page">
          <tr align="center">
            <td rowspan="4"><%= image_tag @user.get_profile_image, class: "image rounded-circle" %></td>
          </tr>
          <tr>
            <td><%= @user.screen_name %></td>
            <% if @user.screen_name != "guest" %>
            <td><%= render "public/users/follow", user: @user %></td>
            <% end %>
          </tr>
          <tr>
            <td><%= @user.introduction %></td>
            <td>
              <% if @user == current_user %>
          	    <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-outline-secondary btn-block" do %>
                  <i class="fas fa-sign-out-alt"></i>ログアウト
                <% end %>
              <% end %>
            </td>
          </tr>
          <tr>
            <td>
              <%= link_to user_followings_path(@user), class: "text-dark" do %>
                <strong><%= @user.followings.count %></strong> フォロー&ensp;
              <% end %>
              <%= link_to user_followers_path(@user), class: "text-dark" do %>
                <strong><%= @user.followers.count %></strong> フォロワー
              <% end %>
            </td>
          </tr>
        </table>
      
    </div>
  </div>    
</div>

    
    
    
    <div>
      <%= link_to "グループを作成する", new_group_path %> | 
      <%= link_to "グループ一覧", groups_path %>
    </div>